<!-- Learning footprint Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}
    </div>
  </div>
</section>
<section>
  <div class="container">
	   <div class="row">
          {% for course in site.certificate_list %}
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 text-center">
                    <div class="box-course">
                        <div class="box-content-course">
                            <b class="tag-title">{{ course.title }}</b>
                            <img src="{{course.image}}" alt="course" style="width: 100%"></img>
                              <!--<p>{{course.description}}</p>-->
                              <div class="middle">
                                  <a href="{{course.url}}" target="_blank" class="btn btn-custom">More Detail</a>
                              </div>
                            <!--<a href="{{course.url}}" class="btn btn-block btn-primary">More Detail</a>-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
	</div>
</div>
</section>
<!-- Learning footprint End -->
