<!--<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!-- Project Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
       {{ page.content | markdownify }}
    </div>
    {% for portfolio in site.project_list %}

    <!--<a href="{{ portfolio.url | prepend: site.baseurl }}"
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">

            <div class="panel-heading">
                {{ portfolio.title }}
            </div>
            <div class="panel-body">
              {{ portfolio.excerpt }}
            </div>
            <div class="panel-footer panel-transparent">
              {{ portfolio.tools }}
            </div>

       </div>
      </div>
    <!--</a>

  {% endfor %}-->
  </div>
</section>
<section>
  <<div class="container">
	<div class="row">
            <div class="row">
              {% for portfolio in site.project_list %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">{{ portfolio.title }}</h1>
                            <hr />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                            <br />
                            <a href="ppc.html" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
	</div>
</div>
</section>
<!-- Project End -->
